::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(219%, 4%, 16%);
  border-radius: 1rem;

  &-thumb {
    background-color: hsl(219%, 4%, 24%);
    border-radius: 1rem;

    &:hover {
      background-color: hsl(219%, 4%, 32%);
    }
  }
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(16px);
  display: inline-flex;
  padding: 0.45rem;
  border-radius: 0.5rem;
  font-size: 1.15rem;
  color: var(--white-color);
  z-index: var(--z-tooltip);
  transition: 0.4s;

  &:hover {
    transform: translateY(-0.25rem);
  }
}

.show-scroll {
  bottom: 3rem;
}
